// Variables for global app styles here.
// Remember to import this when components need to use it

$san-felix: #096212;
$oxford-blue: #00263e;
$midnight-express: #021b41;
$north-texas-green: #069f3d;
$iris-blue: #00b9ce;
$alizarin: #e6273e;
$whisper: #eee;
$black: #000;
$nero: #262626;
$sauvignon: #f4eae1;
$white: #fff;
$vista-white: #fcf7f4;
$tulip-tree: #eab33a;

$font: Helvetica, Arial, sans-serif;
