@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');

$san-felix: #096212;
$oxford-blue: #00263e;
$midnight-express: #021b41;
$north-texas-green: #069f3d;
$iris-blue: #00b9ce;
$alizarin: #e6273e;
$whisper: #eee;
$black: #000;
$nero: #262626;
$sauvignon: #f4eae1;
$white: #fff;
$vista-white: #fcf7f4;
$tulip-tree: #eab33a;

$font: 'Lato', Helvetica, Arial, sans-serif;
$heading-font: 'Montserrat', Helvetica, Arial, sans-serif;
