@import './styles/variables';

h1,
h2 {
  color: $san-felix;
  font-family: $heading-font;
}

h3,
h4,
p {
  color: $san-felix;
  font-family: $font;
}

html,
body {
  background-color: $vista-white;
  font-family: $font;
  margin: 0;
}
